{% extends 'base2.html' %}
{# Add Event Page #}
{% load static %}

    <!--   head  -->
    {% block head %}
      <!--    Add for date picker  -->
     {% load bootstrap4 %}
     {# {% bootstrap_css %}         Embed Bootstrap CSS #}
     {% bootstrap_javascript jquery='full' %}
      {{form.media}}
    {% endblock %}

    <!--    Background Image -->
    {% block bkg %}
      <style>
        #body-bg {
         background-image: url({% static 'img/beach1.jpg' %})
        }
      </style>
    {% endblock %}

    <!--    Main Content  -->
    {% block content %}
      <!--    Header  -->
      <header>
        <div class="accountbox-editbox">
          <br><h4>Please Login to Add Event</h4>
          <br><br><a href="{% url 'login' %}"><h4>Login</h4></a>
          <a href="{% url 'signup' %}"><h4>Sign Up</h4></a>

          </div>
      </header>
    {% endblock %}
