{% extends 'base2.html' %}
{% load static %}

{# Delete Blog Confirmation Page #}
{% block bkg %}
    <style>
       #body-bg {
        background-image:  url({% static 'img/sea.jpg' %})
       }
    </style>

{% endblock %}

{% block content %}

<div name="anchor" id="container1">
<div id="viewblog">
  <div id="comments">
       <ul>
           <div id="comment"><h4>{{post.title}}</h4>
           </div>
           <img src="{{post.image.url}}" alt="Image of blog about to be deleted" height="280px">
           <ul>
             <li>{{post.content}}</li>
             <li>By {{post.user.username}}</li>
           </ul>

           <br><br>

       </ul>
    </div>
<form method="post">{% csrf_token %}
    Are you sure you want to delete your post?<br><br>
     <button id="btn3" type="submit">Confirm</button>
</form><br>
</div><br>
</div><br>
{% endblock %}
