{% extends 'base.html' %}
  {% load static %}
{# Account Page #}
  {% block bkg %}
    <style>
       #body-bg {
        background-image:  url({% static 'img/rocknorway.jpg' %})
       }
    </style>
  {% endblock %}

    {% block content %}
    <!--    Header  -->
    <header>

      <div class="accountbox-editbox">
          <br>
            <!--    Edit Account -->
          <h4>Edit Profile</h4>
          <form method="post">
          <div id="info">
              {% csrf_token %}
              {% for field in form %}
              <div class="fieldWrapper">
              {# field errors commented out #}
              {# {{ field.errors }} #}
              {{ field.label_tag }}
              {{ field }}<br><br>
          </div>
          {% endfor %}
        </div>
        {% if form.errors %}
        <p id="errors">Your passwords didn't match. Please try again.</p>
        {% endif %}
         <a id="pwd" href="{% url 'password_reset' %}">Forgotten password?</a><br>
        <br><br>
        <div class="btn-group">
          <button id="btn2" type="submit">Update Password</button>
        </div>
      </form>
    </div>
  </header>

{% endblock %}
