{% extends 'base.html'%}
  {% load static %}
{% block bkg %}
  <style>
     body {
      background-image:  url({% static 'img/turtleButterfly.jpg' %})
     }
  </style>
{% endblock %}
{% block content %}
<div class="accountbox-editbox" style="margin-bottom:400px;width:100px;color:white;">
  <h4>Reset your Password</h4>
  <div class="login">

  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="btn-group" id="passwordbtn">
      <br><button type="submit">Reset Password</button>
    </div>
  </form>
  </div>
  </div>
{% endblock %}
