{% extends 'base.html' %}
{% load static %}
{% block bkg %}
<style>
   body {
    background-image:  url({% static 'img/turtleButterfly.jpg' %})
   }
</style>
{% endblock %}
{% block content %}

    <header style="min-height:800px;">
    <div class="accountbox-editbox" style="margin-bottom:400px;color:white;">
          <h4>Password reset request complete.</h4>
          <p>Please check your inbox, if your email address is registered, an email with password reset instructions would have been sent.</p>
          <p>If no email is received, it is possible this email address is not registered with <q>message in a bottle</q></p>
    </div>
    </header>

{% endblock %}
