{% extends 'base.html'%}
{% load static %}
{% block bkg %}
<style>
   body {
    background-image:  url({% static 'img/turtleButterfly.jpg' %})
   }
</style>
{% endblock %}
{% block content %}

<div class="accountbox-editbox" style="margin-bottom:400px;color:white;width:180px;padding:0 5%;">
  <h4>Reset your Password</h4>
  <div class="login">
  <form method="post">
    {% csrf_token %}
    <div>{{form.as_p}}</div><br><br>
    <div class="btn-group" id="passwordbtn" style="margin-top:5%;font-size:17px;">
      <button type="submit">Send Confirmation</button>
    </div>
  </form>
  </div>
  </div>
{% endblock %}
